.project-list {
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;

	img {
		max-width: 100%;
	}

	@include media-breakpoint-up(sm) {
		grid-template-columns: 1fr 1fr;
	}
}

.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: $primary-color;

	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		padding: 50px 20px;
	}
	img {
		display: block;
		position: relative;
		transition: opacity 0.35s, transform 0.35s;
		backface-visibility: hidden;
	}
	&:hover {
		img {
			opacity: .2;
			filter: alpha(opacity=20);
			transform: translate3d(0,0,0);
		}
		a,
		p,
		span {
			@extend %hover-opaque;
		}

		h3:after {
			transform: translate3d(0,0,0);
		}
	}
	h3 {
		text-transform: uppercase;
		font-weight: 700;
		color: $white;
		text-align: center;
		position: relative;
		font-size: 1.125rem;
		overflow: hidden;
		padding: 0.5em 0;
		background-color: transparent;
		&:after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: $white;
			content: '';
			transition: transform 0.35s;
			transform: translate3d(-100%,0,0);
		}
	}
	a,
	p,
	span {
		@extend %hover-transparent;
	}
}
