$white: #ffffff;

$blue:    #0b4f6c;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #0b4f6c;
$orange:  #fd7e14;
$yellow:  #AB7E0A;
$cyan:    #17a2b8;
$green:   #009688;

/*$green-light: #B2DFDB;
$green-dark: #00796B;
$accent: #9E9E9E;*/

$teal:    #689f38; //$color_eastern_blue_approx

$primary-color:        #0b4f6c;
$primary-color-dark:   #05222e;
$primary-color-light:  #B2DFDB;
$accent-color:         #9E9E9E;
$primary-color-text:   #FFFFFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$white:  #fff;
$gray-100: #ecf8f8;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #222;
$black:  #000;
$white_35: rgba($white,0.35);

$theme-colors: (
  primary: $primary-color,
  secondary: $accent-color,
  success: $teal,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

$brand-primary: $primary-color;
$brand-secondary: $accent-color;

$headings-color: $brand-primary;

$link-color:            $brand-primary;
$link-decoration:       none;
$link-hover-decoration: none;
$color__link: $brand-primary;
$color__link-visited: $brand-primary;
$color__link-hover: darken($brand-primary, 10%);

$hr-border-color: #BDBDBD;

$body-bg:       $gray-100;
$color__background-body: $gray-100;

//urls
$url_0: url(images/sm_icon_sprite.png);
$url_1: url('../images/background.jpg');

$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $brand-primary;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__text-main: #404040;

$color__border-button: $brand-primary;
$color__border-button-hover: darken($brand-primary, 10%);
$color__border-button-focus: darken($brand-primary, 10%);
$color__border-input: #ccc;
$color__border-abbr: #666;
